@page
@model PJSrenovationWeb.Pages.Clients.EditModel

@{
    ViewData["Title"] = "Edit";
}

<section id="edit-client">
    <header class="text-center">
        <h1 class="col-sm-12 text-center">Edit Client</h1>
    </header>

    <div class="row">
        <div class="col-md-4 offset-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Client.ID" />
                <div class="form-group">
                    <label asp-for="Client.Title" class="control-label"></label>
                    <input asp-for="Client.Title" class="form-control" />
                    <span asp-validation-for="Client.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Client.FirstName" class="control-label"></label>
                    <input asp-for="Client.FirstName" class="form-control" />
                    <span asp-validation-for="Client.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Client.LastName" class="control-label"></label>
                    <input asp-for="Client.LastName" class="form-control" />
                    <span asp-validation-for="Client.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Client.AddressLine1" class="control-label"></label>
                    <input asp-for="Client.AddressLine1" class="form-control" />
                    <span asp-validation-for="Client.AddressLine1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Client.AddressLine2" class="control-label"></label>
                    <input asp-for="Client.AddressLine2" class="form-control" />
                    <span asp-validation-for="Client.AddressLine2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Client.City" class="control-label"></label>
                    <input asp-for="Client.City" class="form-control" />
                    <span asp-validation-for="Client.City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Client.County" class="control-label"></label>
                    <input asp-for="Client.County" class="form-control" />
                    <span asp-validation-for="Client.County" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Client.Postcode" class="control-label"></label>
                    <input asp-for="Client.Postcode" class="form-control" />
                    <span asp-validation-for="Client.Postcode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Client.Phone" class="control-label"></label>
                    <input asp-for="Client.Phone" class="form-control" />
                    <span asp-validation-for="Client.Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Client.Email" class="control-label"></label>
                    <input asp-for="Client.Email" class="form-control" />
                    <span asp-validation-for="Client.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Client.EntryDate" class="control-label"></label>
                    <input asp-for="Client.EntryDate" class="form-control" />
                    <span asp-validation-for="Client.EntryDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Client.PropertyAddres" class="control-label mr-4 pr-2"></label>
                    <input asp-for="Client.PropertyAddres" class=" form-check form-check-input d-inline" />
                    <span asp-validation-for="Client.PropertyAddres" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="./Index">Back to List</a>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
